@use '../../styles/partials/mixins' as *;

.btn_upload {
  background-image: url(../../assets/Icons/upload.svg);
  @include btn;
}

.btn_comment{
  background-image: url(../../assets/Icons/add_comment.svg);
  @include btn;
  width: 100%;
  
}
