@use '../../styles/partials/mixins' as *;

.btn_upload {
  background-image: url(../../assets/Icons/upload.svg);
  @include btn;
  width: 100%;
  &:hover {
    background-color: #0065AD;
  }

  @include tablet {
    padding: .7rem 2.5rem;
    margin-top: 0;
    order: 3;
  }

  @include desktop {
   width: auto;
   padding: .7rem 2.5rem;
  }
}

.btn_comment{
  background-image: url(../../assets/Icons/add_comment.svg);
  @include btn;
  width: 100%;
  &:hover {
    background-color: #0065AD;
  }

  @include tablet {
    width: 30%;
    float: right;
    margin-top: 0
  }

  @include desktop {
    width: 170px;
  }
}

.btn_publish {
  background-image: url(../../assets/Icons/publish.svg) ;
  @include btn;
  width: 100%;
  &:hover {
    background-color: #0065AD;
  }

  @include tablet {
    width: 25%;
    float: right;
  }
}
