@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width){
    @content;
  }
} 

// @mixin header {
//   font-size: 1.5rem; 
//   line-height: 2.75;
//   font-weight: 600;
// }

// @mixin subheader {
//   font-size: 0.875rem; 
//   line-height: 1.57;
//   font-weight: 600;
// }

// @mixin copy {
//   font-size: 0.8125rem; 
//   line-height: 1.385;
//   font-weight: 400;
// }

@mixin page_header {
  font-size: 2.0625rem; 
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin section-header {
  font-size: 0.75rem; 
  line-height: 1.25rem;
  font-weight: 700;
}

@mixin sub_header {
  font-size: 0.875rem; 
  line-height: 1.375;
  font-weight: 700;
}

@mixin body_copy {
  font-size: 0.875rem;
  line-height: 1.375;
  font-weight: 400;
}

@mixin btn{
  background-repeat: no-repeat;
  background-color: #0095FF;
  background-position: 1rem;
  border-radius: 4px;
  color: white;
  width: 100%;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
