$primary_black: #323232;
$primary_blue: #0095FF;
$primary_silver: #AFAFAF;
$primary_white: #FFFFFF;
$secondary_black: #000000;
$secondary_blue:#0065AD;
$secondary_mercury: #E1E1E1;
$secondary_alabaster: #FAFAFA;

$tablet-width: 678px;
$desktop-width: 1280px;