.form {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;;

  &-container {
    display: flex;
  }

  // &-container__image {
  //   padding-top: 3rem;
  //   margin: 0;
  // }

  &-container__conv {
    width: 100%;
  }

  &-container__title {
    // padding-bottom: 1rem;
    color: #AFAFAF;
    font-weight: bold;
    // margin: 1rem;
  }

  &-container__text {
    width: 100%;
    resize:none ;
    background-color: #FAFAFA;
    border-radius: 4px;
    border-color: #AFAFAF;
    padding: 1rem;
    margin: .5rem 0 0 0;
  }
}

// .image {
//   padding: 1rem;
// }
