@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/font' as *;

*{
  font-family: Avenir, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  // margin: 0 2rem;

  &-link {
    display: flex;
    width: 100%;
    padding: 1rem 0 0 0;

    @include tablet {
     width: 45%;
     float: right;
    }
    
  }
}

.image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: .2rem;
  margin: 0 0 0 1rem;



}

.search {
  background-image: url(../../assets/Icons/search.svg);
  background-repeat: no-repeat;
  background-position: .5rem;
  border-radius: 4px;
  border-color: #E1E1E1;
  width: 90%;

  // @include tablet {
  //   width: 35%;
  // }
}
