.comments {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.comment {
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  
  &-image {
    background-color: #E1E1E1;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 1rem;
  }
  
  &-div__one {
    padding: 0 1rem;
  }

  &-div__two {
    display: flex;
    justify-content: space-between;

  }

  &-date {
    color: #AFAFAF;
  }

  &-text {
    margin: 0 0 1rem 0;
  }
}
