@use '../../styles/partials/mixins' as *;

.comments {
  display: flex;
  flex-direction: column;
  padding: 1rem;


}

.comment {
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  
  &-image {
    background-color: #E1E1E1;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 1rem;

    @include tablet {
      padding: 1rem;
    }
  }
  
  &-div__one {
    padding: 0 1rem;

    @include desktop {
      padding: 1rem;
    }
  }

  &-div__two {
    display: flex;
    justify-content: space-between;

  }

  &-date {
    color: #AFAFAF;
  }

  &-text {
    margin: 0 0 1rem 0;

    @include desktop {
      padding: 1rem 0;
    }
  }
}
